/* Contenedor de la barra */
.scroll-progress-container {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 90px;
  background-color: #8c8a7d;
  border-radius: 5px;
  z-index: 9999;
  overflow: hidden;
  box-shadow: 0 0 6px rgb(171, 171, 171);
}

/* Barra que se llena */
.scroll-progress-bar {
  width: 100%;
  height: 0%;
  background-color: #34c368;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition: height 0.4s ease-in-out, box-shadow 0.3s ease;
}