:root {
  --white: #ffffff;
  --beige: #dbd3bf;
  --negro: #000000;
  --gris: #b6b5b5;
  --gris-shadow: #b1a89eb4;
  --verde-medio: #03a02d;
  --verde-oscuro: #141710;
  --verde: #1cc921;
  --gris-linea: #1c1c1c;
  --verde-claro: #07ff0f5e;
  --naranja: #ffa636;
  --azul: #007acd;
  --amarillo-pastel: #e6d884;
  --rosa-viejo: #dd838d;


}
